.sheep-blockscreen {
  pointer-events: none;
}
.sheep-blockscreen sheep-btn {
  right: 50%;
  bottom: 50%;
  width: 142vmax;
  height: 142vmax;
  margin: -71vmax;
  background-color: black;
  background-size: 90px;
  background-position: 50% 50%;
  box-shadow: none;
  pointer-events: none;
  transition: all .5s;
}
